<h1 class="heading">Books</h1>
<ul>
  <% @books&.each do |book| %>
    <li><%=link_to book.title, book_path(book)%></li>
      <ul>
        <li><%=link_to book.author.name, author_path(book.author)%></li>
      </ul>
  <% end %>
</ul>